html,
body {
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'ProximaNova', sans-serif;
  font-size: 20px;
  line-height: 1.375;
  @media screen and (min-width: $w-desktop) {
    font-size: 16px;
  }
}
.content {
  flex: 1 0 auto;
}
a{
  text-decoration: none;
}
button:focus,
input:focus,
textarea:focus{
  outline: none;
}
textarea{
  resize: vertical;
}
.container{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px;
  @media screen and (min-width: $w-tablet) {
    padding: 0 50px;
  }
  @media screen and (min-width: $w-desktop) {
    max-width: $w-desktop;
    padding: 0 10px;
  }
}
.container2{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  @media screen and (min-width: $w-mobile) {
    padding: 0 30px;
  }
  @media screen and (min-width: $w-tablet) {
    padding: 0 50px;
  }
  @media screen and (min-width: $w-desktop) {
    max-width: $w-desktop;
    padding: 0;
  }
}
.container3{
  width: 100%;
  //padding: 0 10px;
  box-sizing: border-box;
  @media screen and (min-width: $w-mobile) {
    //padding: 0 30px;
  }
  @media screen and (min-width: $w-tablet) {
    //padding: 0 50px;
  }
  @media screen and (min-width: $w-desktop) {
    padding: 0;
    max-width: $w-desktop;
    margin: 0 auto;
  }
}
.h{
  color: $gray72;
  text-align: center;
  font-size: 24px;
  font-family: 'TrajanPro3', serif;
  text-transform: uppercase;
}
.swiper-pagination-bullet{
  opacity: 1;
  &:focus{
    outline: none;
  }
}