html,
body {
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'ProximaNova', sans-serif;
  font-size: 20px;
  line-height: 1.375;
  position: relative;
  @media screen and (min-width: $w-desktop) {
    font-size: 16px;
  }
  &.fixed{
    overflow: hidden;
  }
  &.dark .workarea{
    &:before {
      content: '';
      display: block;
      position: fixed;
      z-index: 4;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.8;
      transition: .5s;
      @include anim();
    }
  }
}
.content {
  flex: 1 0 auto;
  background-color: $white;
}
a{
  text-decoration: none;
}
input{
  padding: 0;
}
button:focus,
input:focus,
textarea:focus{
  outline: none;
}
textarea{
  resize: vertical;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.container{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px;
  @media screen and (min-width: $w-tablet) {
    padding: 0 50px;
  }
  @media screen and (min-width: $w-desktop) {
    max-width: $w-desktop;
    padding: 0 10px;
  }
}
.container2{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  @media screen and (min-width: $w-mobile) {
    padding: 0 30px;
  }
  @media screen and (min-width: $w-tablet) {
    padding: 0 50px;
  }
  @media screen and (min-width: $w-desktop) {
    max-width: $w-desktop;
    padding: 0;
  }
}
.container3{
  width: 100%;
  //padding: 0 10px;
  box-sizing: border-box;
  @media screen and (min-width: $w-mobile) {
    //padding: 0 30px;
  }
  @media screen and (min-width: $w-tablet) {
    //padding: 0 50px;
  }
  @media screen and (min-width: $w-desktop) {
    padding: 0;
    max-width: $w-desktop;
    margin: 0 auto;
  }
}
.h{
  color: $gray72;
  text-align: center;
  font-size: 24px;
  font-family: 'TrajanPro3', serif;
  text-transform: uppercase;
}
.swiper-pagination-bullet{
  opacity: 1;
  &:focus{
    outline: none;
  }
}
.modal{
  display: none;
  font-family: 'ProximaNova', sans-serif;
}
.columns{
  @media screen and (min-width: $w-desktop) {
    display: flex;
  }
}
.column-l{
  @media screen and (min-width: $w-desktop) {
    width: 230px;
    margin-right: 10px;
    flex: 0 0 auto;
  }
}
.column-r{
  @media screen and (min-width: $w-desktop) {
    flex: 1 1 auto;
  }
}
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  &__img{
    width: 200px;
    height: 200px;
    background-image: url('images/pinkzorro_logo_mask.svg');
    background-position: center;
    background-repeat: no-repeat;
    @include pulse();
  }
}