.header {
  position: relative;
  &__r1{
    background: $pink;
    color: $white;
  }
  &__r2{
    background: $white;
  }
  &__r3{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      background-color: $white;
    }
  }
  &__dd{
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    background-color: rgba(247,89,169,0.9);
    color: $white;
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: none !important;
    }
  }
}
.header-mobile-r1{
  display: block;
  position: relative;
  height: 110px;
  @media screen and (min-width: $w-desktop) {
    display: none;
  }
  &__menu-btn{
    position: absolute;
    top: 47px;
    left: 0;
  }
  &__logo{
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    width: 70px;
    margin: 0 auto;
  }
  &__icons{
    position: absolute;
    top: 43px;
    right: 0;
  }
}
.header-desktop-r1{
  display: none;
  @media screen and (min-width: $w-desktop) {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  &__call{
    padding-top: 11px;
  }
  &__auth{
    padding-top: 10px;
  }
}
.header-mobile-logo{
  @include bg-img(contain);
  background-image: url('images/pinkzorro_logo-white.svg');
  width: 70px;
  height: 70px;
}
.header-mobile-icons{
  display: flex;
}
.header-search{
  width: 22px;
  height: 22px;
  margin-left: 25px;
  flex: 0 0 auto;
  cursor: pointer;
  @media screen and (min-width: $w-mobile) {
    margin-left: 65px;
  }
  @media screen and (min-width: $w-desktop) {
    padding-top: 20px;
    width: 18px;
    height: 18px;
    margin-left: 0;
  }
  .icon-search-header{
    @media screen and (min-width: $w-desktop) {
      stroke: $pink;
    }
  }
}
.header-line2{
  border-bottom: 1px solid $gray-ec;
  @media screen and (min-width: $w-desktop) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  &__logo{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      position: absolute;
      top: 15px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 70px;
      height: 70px;
      @include bg-img(contain);
      background-image: url('images/pinkzorro_logo.svg');
    }
  }
  &__btns{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: flex;
      padding-top: 44px;
    }
  }
  &__filtr{
    @media screen and (min-width: $w-desktop) {
      width: 380px;
    }
  }
  &__fav{
    @media screen and (min-width: $w-desktop) {
      margin-right: 55px;
    }
  }
  &__backet{

  }
}

.header-filtr{
  @media screen and (min-width: $w-desktop) {
    padding-top: 10px;
  }
  &__list{
    @include uldev();
    display: flex;
    justify-content: space-between;
  }
  &__opt{
    border-top: 3px solid transparent;
    transition: .5s;
    padding: 24px 0;
    @media screen and (min-width: $w-desktop) {
      border-top: none;
      border-bottom: 3px solid transparent;
    }
    @media screen and (min-width: $w-desktop) {
      padding: 32px 0;
    }
  }
  &__link{
    text-transform: uppercase;
    font-size: 16px;
    color: $pink;
    font-weight: $regular;
    @media screen and (min-width: $w-desktop) {
      font-size: 13px;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    &:before{
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      @include bg-img(contain);
      margin-right: 10px;
      flex: 0 0 auto;
    }
    &_him{
      &:before{
        background-image: url('images/icons/filter_him.svg');
        transform: rotate(30deg);
      }
    }
    &_her{
      &:before{
        background-image: url('images/icons/filter_her.svg');
        transform: rotate(210deg);
      }
    }
    &_they{
      &:before{
        background-image: url('images/icons/filter_they.svg');
      }
    }
    &.active,
    &:hover{
      .header-filtr__opt{
        border-color: $pink;
      }
      .header-filtr__link{
        font-weight: $semi-bold;
      }
    }
  }
}
.dd-panel{
  &__r1{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-top: 30px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__r2{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-top: 29px;
    padding-bottom: 29px;
  }
  &__r3{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.header-tren{
  text-align: center;
  padding: 22px 0;
  @media screen and (min-width: $w-desktop) {
    padding: 17px 0;
    margin-right: 26px;
  }
  &__link{
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    @media screen and (min-width: $w-desktop) {
      display: inline-block;
      color: $pink;
      font-size: 13px;
      line-height: 20px;
      background-image: url('images/icons/filter_edu3.svg');
      background-size: 26px 20px;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 35px;
    }
    &.active{
      font-weight: $bold;
    }
  }
}
.header-call{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $w-desktop) {
    width: 183px;
  }
  &__icon{
    width: 25px;
    height: 25px;
    @media screen and (min-width: $w-desktop) {
      width: 20px;
      height: 20px;
    }
  }
  &__label{
    color: $white;
    opacity: .5;
    font-size: 16px;
    font-weight: $light;
    margin-bottom: 10px;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  &__tel{
    color: $white;
    font-size: 20px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
    }
  }
}
.header-backet{
  width: 22px;
  flex: 0 0 auto;
  @media screen and (min-width: $w-desktop) {
    width: auto;
  }
  &__icon{
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
    @media screen and (min-width: $w-desktop) {
      padding-top: 0;
      margin-right: 7px;
      width: 18px;
      height: 18px;
      margin-bottom: 0;
    }
    .icon-backet{
      @media screen and (min-width: $w-desktop) {
        stroke: $pink;
      }
    }
    .icon-backet-2{
      @media screen and (min-width: $w-desktop) {
        fill: $pink;
      }
    }
  }
  &__counter{
    color: $pink2;
    font-size: 16px;
    font-weight: $light;
    text-align: center;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      line-height: 1;
      text-align: left;
      padding-left: 28px;
    }
    span{
      display: none;
      @media screen and (min-width: $w-desktop) {
        display: inline-block;
        margin-left: 3px;
      }
    }
  }
  &__ttl{
    @media screen and (min-width: $w-desktop) {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
    }
  }
  &__label{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      text-transform: uppercase;
      color: $pink;
      font-size: 13px;
    }
  }
}
.header-fav{
  width: 22px;
  flex: 0 0 auto;
  @media screen and (min-width: $w-desktop) {
    width: 120px;
  }
  &__icon{
    width: 26px;
    height: 22px;
    padding-top: 17px;
    margin-bottom: 12px;
    @media screen and (min-width: $w-desktop) {
      padding-top: 0;
      margin-right: 7px;
      width: 20px;
      height: 16px;
      margin-bottom: 0;
    }
    .icon-favorite{
      @media screen and (min-width: $w-desktop) {
        fill: $pink;
      }
    }
  }
  &__counter{
    color: $pink2;
    font-size: 16px;
    font-weight: $light;
    text-align: center;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      line-height: 1;
      text-align: left;
      padding-left: 28px;
    }
    span{
      display: none;
      @media screen and (min-width: $w-desktop) {
        display: inline-block;
        margin-left: 3px;
      }
    }
  }
  &__ttl{
    @media screen and (min-width: $w-desktop) {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
    }
  }
  &__label{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      text-transform: uppercase;
      color: $pink;
      font-size: 13px;
    }
  }
}
.header-auth{
  display: flex;
  &__avatar{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 18px;
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: $white;
    @include bg-img(cover);
    overflow: hidden;
    @media screen and (min-width: $w-desktop) {
      width: 40px;
      height: 40px;
      order: 1;
      margin-left: 20px;
      margin-right: 0;
    }
  }
  &__noavatar{
    background-image: url('images/icons/userpic.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 38px;
    background-color: $white;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $w-desktop) {
      background-size: 26px;
    }
  }
  &__inf{
    padding-top: 2px;
    @media screen and (min-width: $w-desktop) {
      text-align: right;
    }
  }
  &__label{
    font-size: 16px;
    font-weight: $light;
    color: $pink2;
    margin-bottom: 4px;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      margin-bottom: 0;
      line-height: 1;
    }
  }
  &__name{
    font-size: 20px;
    color: $white;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
    }
  }
}
.header-line3{
  @media screen and (min-width: $w-desktop) {
    position: relative;
    border-bottom: 1px solid $gray-ec;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  &__r{
    display: flex;
  }
  &__search-line{
    //display: none;
    @media screen and (min-width: $w-desktop) {
      //display: none;
      position: absolute;
      top: 6px;
      right: 10px;
      left: 10px;
    }
  }
}
.fixed{
  .header__r3{
    @media screen and (min-width: $w-desktop) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9;
    }
  }
}
.header-search-line{
  display: none;
  @media screen and (min-width: $w-desktop) {
    width: 100%;
  }
  &.open{
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__wrapper{
    @media screen and (min-width: $w-desktop) {
      position: relative;
    }
  }
  &__form{
    @media screen and (min-width: $w-desktop) {
      padding: 0 50px 0 20px;
      width: 100%;
      border-radius: 10px;
      background-color: $pink5;
      color: $gray72;
      height: 46px;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
    }
  }
  &__input{
    @media screen and (min-width: $w-desktop) {
      border: none;
      padding: 0;
      box-sizing: border-box;
      color: $gray72;
      background-color: transparent;
      width: 100%;
      line-height: 46px;
      flex: 0 0 auto;
      font-weight: $semi-bold;
      font-size: 16px;
    }
  }
  &__submit{
    @media screen and (min-width: $w-desktop) {
      position: absolute;
      right: 15px;
      top: 15px;
      background-color: transparent;
      border: none;
      width: 18px;
      height: 18px;
      background-image: url('images/icons/icon_search.svg');
      @include bg-img(contain);
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
}
.header-search-result{
  @media screen and (min-width: $w-desktop) {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(242,89,169,0.8);
    border-radius: 0 0 10px 10px;
    padding-bottom: 28px;
    padding-top: 40px;
  }
  &.open{
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__list{
    padding: 0 20px;
  }
  &__item{
    @media screen and (min-width: $w-desktop) {
      display: flex;
      justify-content: space-between;
      color: $white;
      margin-bottom: 20px;
    }
  }
  &__ttl{
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
      font-weight: $light;
    }
  }
  &__model{
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      font-weight: $semi-bold;
    }
  }
  &__price{
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      font-weight: $semi-bold;
    }
  }
  &__count{
    text-align: center;
  }
  &__count-link{
    @media screen and (min-width: $w-desktop) {
      color: $white;
      font-size: 14px;
      font-width: $light;
    }
  }
}