.icon-search-footer{
  fill: none;
  stroke: $gray99;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5.67px;
}
.icon-search-header{
  fill: none;
  stroke: $pink2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5.67px;
}
.icon-backet{
  fill: none;
  stroke: $pink2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5.67px;
}
.icon-backet-2{
  fill: $pink2;
}
.icon-call{
  fill: $pink2;
}
.icon-favorite{
  fill: $pink2;
}