@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes pulse {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartbeat {
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.2);
  }
}
@keyframes him {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(50deg);
  }
}
@keyframes her {
  0% {
    transform: rotate(210deg);
  }
  25% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(210deg);
  }
  75% {
    transform: rotate(230deg);
  }
}
@keyframes they {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
}

//@include anim(); Плавное появлении при display: none; to display: block;
@mixin anim() {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
}

@mixin pulse(){
  animation: pulse 1.5s infinite;
}

@mixin heartbeat(){
  animation: heartbeat .6s infinite;
}

@mixin filt-anim($tag){
  animation: $tag .9s infinite linear;
}


//@include clearfix();
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//@include uldev(); сбрасывает стили у списка
@mixin uldev() {
  margin: 0;
  padding: 0;
  list-style: none;
}

//@include boxsize();
@mixin boxsize() {
  box-sizing: border-box;
}

//@include @bg-img(cover);
@mixin bg-img($size){
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center center;
}

//Медиазапросы для разных разрешений. Указаны в em, чтобы в сафари при увеличения масштаба бреикпоинты срабатывали
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

  }
}
//Пример брекпоинтов
//.grid-1-4 {
//  width: 100%;
//  @include breakpoint(phablet) {
//    width: 50%;
//  }
//  @include breakpoint(laptop) {
//    width: 25%;
//  }
//}


//Для браузер не поддерживающие свг, заменяем картинку на пнг, а в случаи с ретиной в 2 раза большьше по размеру
//Нарезаем картинки
//pattern.svg
//pattern.png
//pattern@2x.png
$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
  background-image: url(#{$image-path}/#{$name}.svg);
  @if($size){
    background-size: $size;
  }
  .no-svg &{
    background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    }
  }
}
//Пример
//body {
//  @include background-image('pattern');
//}

//Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
//Пример
//.faded-text {
//  @include opacity(0.8);
//}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-display: swap;
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}