//colors
$black: #000;
$white: #fff;

$pink: #f259a9;
$pink2: #f9acd4;
$pink3: #df6cc8;
$pink4: #dfb9cd;
$pink5: #fde2f0;

$gray72: #725d68;
$gray22: #22181d;
$gray99: #999;
$gray-ec: #ececec;;

//shadow
$shadow-pink: 0 0 20px rgba(242, 89, 169, 0.3);

//size
$w-desktop: 1200px;
$w-tablet: 768px;
$w-mobile: 425px;

//width
$thin: 100;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;