.big-slider{
  overflow: hidden;
  position: relative;
  &__item{
    display: block;
    @include bg-img(cover);
    height: 300px;
  }
  &__container{
    padding-top: 40px;
    @media screen and (min-width: $w-desktop) {
      padding-left: 410px;
      padding-right: 190px;
    }
  }
  &__date{
    color: $white;
    background-color: $pink;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: $light;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 40px;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      line-height: 30px;
      padding: 0 20px;
      border-radius: 15px;
      margin-bottom: 30px;
    }
  }
  &__ttl{
    color: $white;
    text-transform: uppercase;
    font-family: 'TrajanPro3', serif;
    font-size: 27px;
    line-height: 1;
    @media screen and (min-width: $w-mobile) {
      font-size: 30px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 20px;
    }
  }
  &__txt{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      color: $white;
      font-size: 16px;
      line-height: 1.125;
      margin-bottom: 20px;
    }
  }
  &__link{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: inline-block;
      color: $gray99;
      font-size: 16px;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__pagination{
    position: absolute;
    bottom: 27px;
    right: 0;
    left: 0;
    z-index: 2;
    @media screen and (min-width: $w-desktop) {
      position: relative;
      bottom: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 23px;
    }
  }
  &__bull{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    @media screen and (min-width: $w-desktop) {
      margin: 0 10px;
    }
  }
  .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $pink4;
    margin: 0 3px;
    transition: .5s;
    border: 2px solid transparent;
    box-sizing: border-box;
  }
  .swiper-pagination-bullet-active{
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid $pink;
  }
  &__next,
  &__prev{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      background-color: transparent;
      padding: 0;
      margin: 0;
      font-size: 0;
      line-height: 0;
      border: none;
      background-image: url('images/slider-arr.png');
      width: 97px;
      height: 12px;
      cursor: pointer;
      background-position-y: -12px;
      background-position-x: 0;
    }
    &:focus{
      outline: none;
    }
    &.swiper-button-disabled{
      background-position-y: 0;
    }
  }
  &__prev{
    margin-right: 10px;
  }
  &__next{
    transform: rotate(180deg);
    margin-left: 10px;
  }
}
.big-slider-wrapper{
  margin-bottom: 76px;
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 70px;
  }
}
