.breadcrumbs{
  padding: 18px 0;
  &__link{
    display: inline-block;
    color: $pink;
    text-decoration: underline;
    margin-right: 11px;
    background-image: url('images/icons/chevron_right-pink.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 28px;
    &:hover{
      text-decoration: none;
    }
    &:last-of-type{
      background-image: none;
      padding-right: 0;
      margin-right: 0;
    }
  }
}