.card{
  width: 100%;
  max-width: 290px;
  height: 506px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $shadow-pink;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  @media screen and (min-width: $w-mobile) {
    width: 290px;
  }
  @media screen and (min-width: $w-desktop) {
    width: 220px;
    height: 399px;
  }
  &_basket{
    height: 556px;
    @media screen and (min-width: $w-desktop) {
      height: 439px;
    }
  }
  &__hover{
    display: none;
    @media screen and (min-width: $w-desktop) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(242, 89, 169, .8);
      @include anim();
      color: $white;
    }
  }
  &__hover2{
    display: none;
  }
  &__to-fav{
    @media screen and (min-width: $w-desktop) {
      position: absolute;
      right: 20px;
      top: 18px;
      display: flex;
      align-items: center;
    }
    span{
      @media screen and (min-width: $w-desktop) {
        text-decoration: underline;
        color: $white;
        font-size: 16px;
      }
    }
    &:after{
      @media screen and (min-width: $w-desktop) {
        content: '';
        background-image: url('images/icons/icon_favorite-white.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 22px;
        width: 22px;
        height: 20px;
        display: block;
        margin-left: 10px;
      }
    }
    &:hover{
      span{
        @media screen and (min-width: $w-desktop) {
          text-decoration: none;
        }
      }
      &:after{
        @include heartbeat();
      }
    }
    &.active{
      &:after {
        @media screen and (min-width: $w-desktop) {
          background-image: url('images/icons/icon_favorite_fill-white.svg');
        }
      }
    }
  }
  &__to-basket{
    @media screen and (min-width: $w-desktop) {
      position: absolute;
      right: 0;
      left: 0;
      top: 170px;
      background-color: $white;
      font-size: 13px;
      font-weight: $semi-bold;
      text-transform: uppercase;
      color: $pink;
      line-height: 50px;
      display: block;
      border: none;
      border-radius: 25px;
      width: 180px;
      margin: 0 auto;
      cursor: pointer;
      padding: 0;
    }
  }
  &__one-click{
    @media screen and (min-width: $w-desktop) {
      position: absolute;
      right: 0;
      left: 0;
      top: 240px;
      color: $white;
      text-decoration: underline;
      font-size: 16px;
      line-height: 1;
      text-align: center;
    }
    &:hover{
      @media screen and (min-width: $w-desktop) {
        text-decoration: none;
      }
    }
  }

  &__link{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &_basket{
      bottom: 50px;
    }
  }
  &__select-props{
    display: none;
    @media screen and (min-width: $w-desktop) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(242, 89, 169, .8);
    }
  }
  &__sp-label{
    @media screen and (min-width: $w-desktop) {
      text-align: center;
      color: $white;
      font-size: 16px;
      padding-top: 18px;
      margin-bottom: 45px;
    }
  }
  &__sp-list{}
  &__sp-item{
    @media screen and (min-width: $w-desktop) {
      display: block;
      width: 65px;
      margin: 0 auto 10px;
      line-height: 40px;
      border-radius: 20px;
      background-color: $pink5;
      font-size: 16px;
      text-align: center;
      color: $gray72;
      text-transform: uppercase;
      transition: .5s;
    }
    &.disabled{
      @media screen and (min-width: $w-desktop) {
        background-color: $gray-ec;
      }
    }
    &.selected,
    &:hover{
      @media screen and (min-width: $w-desktop) {
        background-color: $pink;
        color: $white;
      }
    }
  }
  &__cnt{
    padding: 60px 30px 20px;
    @media screen and (min-width: $w-desktop) {
      padding: 50px 15px 15px;
    }
  }
  &__cnt-link{
    display: block;
  }
  &__img{
    @include bg-img(contain);
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    @media screen and (min-width: $w-desktop) {
      height: 150px;
      margin-bottom: 20px;
    }
  }
  &__txt{
    border-top: 1px solid $gray-ec;
    padding-top: 18px;
    margin-bottom: 20px;
  }
  &__prev{
    color: $gray99;
    font-size: 16px;
    line-height: 1.2;
    font-weight: $light;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
      height: 30px;
      margin-bottom: 17px;
    }
  }
  &__ttl{
    font-size: 22px;
    line-height: 1.2;
    font-weight: $semi-bold;
    color: $gray22;
    height: 80px;
    overflow: hidden;
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      height: 56px;
      line-height: 1;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__price-old{
    font-size: 16px;
    font-weight: $light;
    text-decoration: line-through;
    color: $gray99;
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
    }
  }
  &__price{
    color: $pink;
    font-size: 22px;
    font-weight: $semi-bold;
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
    }
  }
  &__angle{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: $pink;
    border-radius: 0 0 100% 0;
    background-repeat: no-repeat;
    &_sale{
      background-image: url('images/icons/category_discount.svg');
      background-size: 18px;
      background-position: 20px 20px;
    }
    &_hit{
      background-image: url('images/icons/category_hit.svg');
      background-size: 20px;
      background-position: 19px 17px;
    }
    &_new{
      background-image: url('images/icons/category_new_2.svg');
      background-size: 23px;
      background-position: 17px 19px;
    }
  }
  &__fav{
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
    width: 22px;
    height: 22px;
    background-image: url('images/icons/icon_favorite.svg');
    background-repeat: no-repeat;
    background-position: center;
    &.active{
      background-image: url('images/icons/icon_favorite_fill.svg');
    }
  }
  &__basket{
    border-top: 1px solid $gray-ec;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  &__sum{
    font-size: 16px;
    font-weight: $light;
    color: $gray99;
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
    }
  }
  &__count-wrap{
    display: flex;
  }
  &__count{
    font-size: 16px;
    font-weight: $light;
    color: $gray99;
    padding: 0 10px;
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
    }
  }
  &__count2{
    font-size: 16px;
    font-weight: $light;
    color: $gray99;
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
    }
  }
  &__plus,
  &__minus{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $pink5;
    color: $pink;
    font-size: 16px;
    font-weight: $light;
    line-height: 23px;
    @media screen and (min-width: $w-desktop) {
      width: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
    }
    &.disabled{
      background-color: $gray-ec;
      color: $gray99;
    }
  }
  &__remove{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    height: 16px;
  }
  &:hover{
    .card__hover{
      @media screen and (min-width: $w-desktop) {
        display: block;
      }
    }
  }

}