.catalog-menu{
  &__list{
    @include uldev();
  }
  &__item{
    text-align: center;
    margin-bottom: 22px;
    @media screen and (min-width: $w-desktop) {
      text-align: left;
      margin-bottom: 14px;
    }
  }
  &__link{
    font-size: 16px;
    text-transform: uppercase;
    color: $gray72;
    transition: .5s;
    @media screen and (min-width: $w-desktop) {
      text-transform: none;
    }
    &:hover{
      color: $pink2;
    }
    &.active{
      color: $pink;
      font-weight: $semi-bold;
    }
  }
}
.desktop-catalog-menu{
  display: none;
  @media screen and (min-width: $w-desktop) {
    display: block;
  }
}
.catalog-menu-select{
  margin-bottom: 20px;
  text-align: center;
  &__h {
    cursor: pointer;
    display: inline-block;
    @media screen and (min-width: $w-desktop) {
      cursor: text;
    }
    span{
      /*display: flex;
      align-items: flex-start;
      text-decoration: underline;
      text-underline-position: under;*/
      display: block;
      @media screen and (min-width: $w-desktop) {
        /*text-decoration: none;*/
      }
      &:after{
        content: '';
        background-image: url('images/icons/expand-more.svg');
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 5px;
        transition: .5s;
        vertical-align: middle;
        @media screen and (min-width: $w-desktop) {
          display: none;
        }
      }
      &>*{
        border-bottom: 1px dashed $gray72;
        display: inline;
        @media screen and (min-width: $w-desktop) {
          border-bottom: none;
        }
      }
    }
    &.open span:after{
      transform: rotate(-180deg);
    }
  }
  &__mobile{
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    border-bottom: 1px solid $gray-ec;
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
}