.cookies{
  background-color: $pink;
  &__wrapper{
    padding-top: 30px;
    padding-bottom: 40px;
    @media screen and (min-width: $w-desktop) {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 25px;
    }
  }
  &__text{
    font-size: 20px;
    color: $white;
    text-align: center;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      text-align: left;
    }
    p{
      margin-top: 0;
      margin-bottom: 25px;
      @media screen and (min-width: $w-desktop) {
        margin-bottom: 0;
      }
    }
    a{
      text-decoration: underline;
      color: $white;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__button{
    background-color: $white;
    color: $pink;
    font-size: 16px;
    font-weight: $semi-bold;
    text-transform: uppercase;
    line-height: 60px;
    width: 210px;
    margin: 0 auto;
    border-radius: 30px;
    display: block;
    @media screen and (min-width: $w-desktop) {
      font-size: 13px;
      line-height: 40px;
      margin: 0;
      width: 120px;
      flex: 0 0 auto;
    }
  }
}