.menu-drop-wrapper{
  display: none;
  @media screen and (min-width: $w-desktop) {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
    background-color: rgba(255,255,255,0.95);
    height: 301px;
    box-sizing: border-box;
    margin-left: calc((100vw - 1217px) / -2);
    margin-right: calc((100vw - 1217px) / -2);
    z-index: 8;
  }
}
.menu-drop{
  &__list{
    @media screen and (min-width: $w-desktop) {
      @include uldev();
      column-count: 3;
      column-width: 240px;
      column-gap: 0;
      margin-top: 28px;
      max-width: 720px;
    }
  }
  &__item{
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 22px;
    }
  }
  &__link{
    @media screen and (min-width: $w-desktop) {
      color: $gray72;
      font-size: 16px;
      transition: .5s;
    }
    &:hover{
      @media screen and (min-width: $w-desktop) {
        color: $pink;
      }
    }
  }
}
.header-menu{
  text-align: center;
  @media screen and (min-width: $w-desktop) {
    text-align: left;
  }
  &__list{
    @include uldev();
    @media screen and (min-width: $w-desktop) {
      display: flex;
    }
  }
  &__item{
    padding: 22px 0;
    @media screen and (min-width: $w-desktop) {
      padding: 19px 0;
      margin-right: 47px;
    }
    &:hover{
      .menu-drop-wrapper{
        @media screen and (min-width: $w-desktop) {
          visibility: visible;
          opacity: 1;
          transition-delay: .7s;
        }
      }
    }
  }
  &__link{
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    transition: .5s;
    @media screen and (min-width: $w-desktop) {
      color: $gray72;
      font-size: 13px;
    }
    &.active{
      //font-weight: $semi-bold;
      text-shadow: $text-shadow;
      @media screen and (min-width: $w-desktop) {
        color: $pink;
      }
    }
    &:hover{
      @media screen and (min-width: $w-desktop) {
        color: $pink;
        text-shadow: $text-shadow;
      }
    }
  }
}