.news-prev{
  @media screen and (min-width: $w-desktop) {
    position: relative;
  }
  &__h{
    margin-bottom: 35px;
    display: block;
    //text-decoration: underline;
    //text-underline-position: under;
    @media screen and (min-width: $w-desktop) {
      //text-decoration: none;
    }
    &>*{
      border-bottom: 1px dashed $gray72;
      display: inline;
      @media screen and (min-width: $w-desktop) {
        border-bottom: none;
      }
    }
  }
  &__list{
    @media screen and (min-width: $w-desktop) {
      display: flex;
    }
  }
  &__item{
    display: block;
    width: 100%;
    max-width: 420px;
    height: 280px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    @include bg-img(cover);
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray22;
      opacity: .8;
      transition: .5s;
    }
    &:hover{
      &:before{
        background-color: $pink6;
      }
    }
  }
  &__cnt{
    position: relative;
    padding: 30px 30px 25px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    overflow: hidden;
    @media screen and (min-width: $w-mobile) {
      padding: 54px 30px 25px;
    }
  }
  &__ttl{
    color: $pink;
    font-size: 22px;
    font-weight: $semi-bold;
    margin-bottom: 18px;
    line-height: 1.2;
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      margin-bottom: 23px;
    }
  }
  &__prev{
    color: $white;
    opacity: .7;
    font-size: 20px;
    line-height: 1.2;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 30px;
    left: 30px;
    @media screen and (min-width: $w-desktop) {
      bottom: 24px;
    }
  }
  &__date{
    color: $gray99;
    font-size: 20px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
    }
  }
  &__more{
    color: $pink;
    text-decoration: underline;
    font-size: 20px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__all{
    text-align: center;
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
  &__all-link{
    font-size: 20px;
    color: $pink;
    border-bottom: 1px solid $pink;
    line-height: 1;
    display: inline-block;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
    }
    &:hover{
      border-color: transparent;
    }
  }
}
.news-prev-wrapper{
  margin-bottom: 70px;
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 96px;
  }
}
.news-prev-slider{
  overflow: hidden;
}