.select-size{
  display: flex;
  &__item{
    display: block;
    width: 65px;
    line-height: 50px;
    border-radius: 25px;
    background-color: $pink5;
    font-size: 20px;
    text-align: center;
    color: $gray72;
    text-transform: uppercase;
    transition: .5s;
    margin: 0 3px;
    @media screen and (min-width: $w-mobile) {
      width: 85px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 65px;
      line-height: 40px;
      border-radius: 20px;
      font-size: 16px;
    }
    &.disabled{
      background-color: $gray-ec;
    }
    &.selected,
    &:hover{
      background-color: $pink;
      color: $white;
    }
  }
}