.star-rating{
  &__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  &__ico{
    margin-right: 5px;
    cursor: pointer;
    width: 28px;
    height: 25px;
    background-image: url('images/icons/rate.svg');
    @include bg-img(contain);
    @media screen and (min-width: $w-desktop) {
      width: 22px;
      height: 20px;
      margin-right: 3px;
    }
    &:last-child{
      padding-right: 0;
    }
  }
  &__input{
    display: none;
  }
}
.star-rating__ico:hover,
.star-rating__ico:hover ~ .star-rating__ico,
.star-rating__input:checked ~ .star-rating__ico
{
  background-image: url('images/icons/rate-fill.svg');
}