.cookies.modal#cookies
    ._wrapper.container
        ._text
            p На нашем сайте используются cookies, которые делают его более удобным для каждого пользователя.
            p Посещая страницы сайта, вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>.
        button._button(type="button" data-izimodal-close="") ОК