.modal-form.modal#login
    .form
        ._ttl2 Войдите
        ._subttl или <a href="#" data-izimodal-open="#registration">Зарегистрируйтесь</a>
        ._form
            ._fields
                ._row
                    ._label E-mail
                    input._input(type="email")
                ._row
                    ._label Пароль
                    input._input(type="password")
                ._confirm-row
                    ._checkbox-wrapper
                        input._checkbox(type="checkbox" id="login-confirm" checked)
                        label._checkbox-label(for="login-confirm")
                            span Согласен (-на) с политикой <a href="#">конфиденциальности компании</a>
            ._bottom
                ._btn-wrap2
                    input._submit(type="submit" value="Войти")
                ._forgot
                    a._forgot-link(href="#" data-izimodal-open="#forgot-pass") Забыли пароль?
        button._close(type="button" data-izimodal-close="").
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.38 60.38"><path class="modal-close" d="M.83,4.84a2.83,2.83,0,0,1,4-4L30.19,26.18,55.54.83a2.83,2.83,0,0,1,4,4L34.2,30.19,59.55,55.54a2.83,2.83,0,1,1-4,4L30.19,34.2,4.84,59.55a2.83,2.83,0,0,1-4-4L26.18,30.19.83,4.84Z"/></svg>

        .mess-fail(style="display:none").
            К сожалению, такого email нет.<br>
            Возможно вы некорректно ввели адрес электронной почты или пароль.
        .mess-success(style="display:none").
            Спасибо за обращение!<br>
            Совсем скоро мы ответим на Ваш запрос