.modal-form.modal#plus18
    .plus18
        ._ttl возрастное ограничение
        ._prev Страница содержит текстовую информациюо соблюдении <a href="#">федерального закона РФ №436 «О защите детей от информации, причиняющей вред их здоровью и развитию»</a>
        ._btns
            a._btn.-yes(href="#" data-izimodal-close="") Мне есть 18
            a._btn.-no(href="#") Мне нет 18