.big-slider
    ._swiper.swiper-wrapper
        - for(var i=0;i<3;i++)
            ._slide.swiper-slide
                a._item(href="#" style="background-image:url('images/TEMP/slide1.jpg')")
                    ._container.container
                        ._date до 31 мая
                        ._ttl Обжигающие скидки на охлаждающие лубриканты!
                        ._txt.
                            Скидки на лубриканты фирмы Satisfyre до 35% В акции участвуют лубриканты: Satisfyer Men Neutral, Satisfyer Men Warming, Satisfyer Men Cooling
                        ._link Подробнее
    ._pagination
        ._prev
        ._bull
        ._next