.card.-basket
    a._link.-basket(href="#")
    ._cnt
        ._img(style="background-image:url('images/TEMP/item2.jpg')")
        ._txt
            ._prev Очищающие средства для секс-игрушек
            ._ttl Satisfyer Partner Plus. Electronic edition. Purplemodel, FX-180
        ._bottom
            ._price-old
            ._price <span class="js-price">11 135</span> руб.
        ._basket
            ._count-wrap
                button._minus.js-minus.disabled(type="button") -
                ._count <span class="js-count">1</span> шт.
                button._plus.js-plus(type="button") +
            ._sum 77 070 руб.
    a._remove(href="#").
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.38 60.38"><path d="M.83,4.84a2.83,2.83,0,0,1,4-4L30.19,26.18,55.54.83a2.83,2.83,0,0,1,4,4L34.2,30.19,59.55,55.54a2.83,2.83,0,1,1-4,4L30.19,34.2,4.84,59.55a2.83,2.83,0,0,1-4-4L26.18,30.19.83,4.84Z" fill="#f259a9"/></svg>
//end .card
