.card
    ._cnt
        ._img(style="background-image:url('images/TEMP/item1.jpg')")
        ._prev Очищающие средства для секс-игрушек
        ._ttl Satisfyer Partner Plus. Electronic edition. Purplemodel, FX-180
        ._price