.card
    ._cnt
        ._img(style="background-image:url('images/TEMP/item1.jpg')")
        ._txt
            ._prev Очищающие средства для секс-игрушек Очищающие средства для секс-игрушек
            ._ttl Satisfyer Partner Plus. Electronic edition. Purplemodel, FX-180 Satisfyer Partner Plus. Electronic edition. Purplemodel, FX-180
        ._bottom
            ._price-old 12 200 руб
            ._price 11 135 руб.
    ._angle.-new
    a._fav.active(href="#")