.card.-basket
    a._link(href="#")
    ._cnt
        ._img(style="background-image:url('images/TEMP/item2.jpg')")
        ._txt
            ._prev Очищающие средства для секс-игрушек
            ._ttl Satisfyer Partner Plus. Electronic edition. Purplemodel, FX-180
        ._bottom
            ._price-old 12 200 руб
            ._price <span class="js-price">11 135</span> руб.
        ._basket
            ._count-wrap
                ._count2 19 шт.
            ._sum 77 070 руб.
    ._angle.-new
    a._fav.active(href="#")
    ._hover
        ._hover1.js-hover
            a._link(href="#")
            a._to-fav.active(href="#fav")
                span Удалить
            button._to-basket.js-tobasket(type="button") в корзину
            a._one-click(href="#click" data-izimodal-open="#oneclick") Купить в один клик
        ._hover2.js-props
            ._sp-label Выберите<br>размер или цвет
            ._sp-list
                a._sp-item.disabled(href="#" data-izimodal-open="#notification") S
                a._sp-item(href="#" data-izimodal-open="#notification") M
                a._sp-item.selected(href="#" data-izimodal-open="#notification") L
                a._sp-item(href="#" data-izimodal-open="#notification") XL

//end .card
