.catalog-menu
    ul._list
        li._item
            a._link(href="#") Плетки и стеки
        li._item
            a._link(href="#") Наручники и фиксация
        li._item
            a._link(href="#") Ошейники и поводки
        li._item
            a._link(href="#") Кляпы
        li._item
            a._link(href="#") Страпоны
        li._item
            a._link(href="#") Зажимы, расширители
        li._item
            a._link(href="#") Портупеи
        li._item
            a._link(href="#") БДСМ маски
        li._item
            a._link(href="#") Костюмы для ролевых игр
        li._item
            a._link(href="#") Для фистинга
        li._item
            a._link(href="#") Наборы
        li._item
            a._link(href="#") Подарочные сертификаты
        li._item
            a._link(href="#") Очищающие средства для секс-игрушек
        li._item
            a._link.active(href="#") Вибромассажеры
//end .catalog-menu