script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [64.5343275573642,40.526317500000005],
            zoom: 17,
            controls: []
        });

        var placemark = new ymaps.Placemark([64.5343275573642,40.526317500000005], {
            balloonContent: 'Архангельск, ТЦ Гранд Плаза, Троицкий проспект, 20',
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'images/pinkzorro_logo_mask.svg',
            iconImageSize: [45, 45],
            iconImageOffset: [-21,-27]
        });
        map.geoObjects.add(placemark);

        var placemark2 = new ymaps.Placemark([64.56032655730118,39.802652499999986], {
            balloonContent: 'Северодвинск, Карла Маркса, 14',
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'images/pinkzorro_logo_mask.svg',
            iconImageSize: [45, 45],
            iconImageOffset: [-21,-27]
        });
        map.geoObjects.add(placemark2);

        $('.js-onmap').click(function () {
            var center = $(this).data('center');
            var arr = center.split(',');
            var centerX = Number(arr[0]);
            var centerY = Number(arr[1]);
            map.setCenter([centerX,centerY]);
            return false;
        });
    }
