.orders
    ._list
        ._item
            ._prev
                ._num
                    ._num-cnt
                        ._label.-num Заказ:
                        ._val.-num № 1059
                ._cols
                    ._col
                        ._label Товаров:
                        ._val 12
                    ._col
                        ._label Дaта заказа:
                        ._val 01 мая 2017
                    ._col
                        ._label Тип получения:
                        ._val Самовывоз
                    ._col
                        ._label Тип оплаты:
                        ._val Карта
                    ._col
                        ._label Статус:
                        ._val.c-orange В очереди
                    ._col
                        ._label Общая сумма:
                        ._val.c-pink 34 500 руб.
            ._link-more.js-show-order
                span Подробнее о заказе
            ._more
                .prev-line
                    ._h
                    ._list.prev-slider
                        ._swiper.swiper-wrapper
                            - for(var i=0;i<8;i++)
                                ._item.swiper-slide
                                    include _card-order
                    ._nav
                        ._prev
                        ._next
        ._item
            ._prev
                ._num
                    ._num-cnt
                        ._label.-num Заказ:
                        ._val.-num № 1059
                ._cols
                    ._col
                        ._label Товаров:
                        ._val 12
                    ._col
                        ._label Дaта заказа:
                        ._val 01 мая 2017
                    ._col
                        ._label Тип получения:
                        ._val Самовывоз
                    ._col
                        ._label Тип оплаты:
                        ._val Карта
                    ._col
                        ._label Статус:
                        ._val.c-green Выполнен и оплачен
                    ._col
                        ._label Общая сумма:
                        ._val.c-pink 500 руб.
            ._link-more.js-show-order
                span Подробнее о заказе
            ._more
                .prev-line
                    ._h
                    ._list.prev-slider
                        ._swiper.swiper-wrapper
                            - for(var i=0;i<8;i++)
                                ._item.swiper-slide
                                    include _card-order
                    ._nav
                        ._prev
                        ._next
        ._item.-disabled
            ._prev
                ._num
                    ._num-cnt
                        ._label.-num Заказ:
                        ._val.-num № 1059
                ._cols
                    ._col
                        ._label Товаров:
                        ._val 12
                    ._col
                        ._label Дaта заказа:
                        ._val 01 мая 2017
                    ._col
                        ._label Тип получения:
                        ._val Самовывоз
                    ._col
                        ._label Тип оплаты:
                        ._val Карта
                    ._col
                        ._label Статус:
                        ._val.c-pink Отменен
                    ._col
                        ._label Общая сумма:
                        ._val.c-pink 134 500 руб.
            ._link-more.js-show-order
                span Подробнее о заказе
            ._more
                .prev-line
                    ._h
                    ._list.prev-slider
                        ._swiper.swiper-wrapper
                            - for(var i=0;i<8;i++)
                                ._item.swiper-slide
                                    include _card-order
                    ._nav
                        ._prev
                        ._next
//end .orders