.select-color
    a._item.disabled(href="#")
        span.color(style="background-color:#f51a4e")
        span Красный
    a._item(href="#")
        span.color(style="background-color:#ff8400")
        span Оранжевый
    a._item(href="#")
        span.color(style="background-color:#ffd800")
        span Желтый
    a._item(href="#")
        span.color(style="background-color:#32cc56")
        span Зеленый
    a._item.disabled(href="#")
        span.color(style="background-color:#8dd1f1")
        span Голубой
    a._item(href="#")
        span.color(style="background-color:#2c87ce")
        span Синий
    a._item(href="#")
        span.color(style="background-color:#e075f0")
        span Фиолетовый
    a._item.selected(href="#")
        span.color(style="background-color:#ff4ea5")
        span Розовый
    a._item(href="#")
        span.color(style="background-color:#fff")
        span Белый
    a._item(href="#")
        span.color(style="background-color:#bfbfbf")
        span Серый
//end .select-size