.select-color
    a._item.disabled(href="#")
        span.color(style="background-color:#f51a4e")
    a._item(href="#")
        span.color(style="background-color:#ff8400")
    a._item(href="#")
        span.color(style="background-color:#ffd800")
    a._item(href="#")
        span.color(style="background-color:#32cc56")
    a._item.disabled(href="#")
        span.color(style="background-color:#8dd1f1")
    a._item(href="#")
        span.color(style="background-color:#2c87ce")
    a._item(href="#")
        span.color(style="background-color:#e075f0")
    a._item.selected(href="#")
        span.color(style="background-color:#ff4ea5")
    a._item(href="#")
        span.color(style="background-color:#fff")
    a._item(href="#")
        span.color(style="background-color:#bfbfbf")
//end .select-size