.star-rating
    ._wrap
        input._input(id="star-rating1-5" type="radio" name="rating1" value="5")
        label._ico(for="star-rating1-5" title="5")
        input._input(id="star-rating1-4" type="radio" name="rating1" value="4" checked)
        label._ico(for="star-rating1-4" title="4")
        input._input(id="star-rating1-3" type="radio" name="rating1" value="3")
        label._ico(for="star-rating1-3" title="3")
        input._input(id="star-rating1-2" type="radio" name="rating1" value="2")
        label._ico(for="star-rating1-2" title="2")
        input._input(id="star-rating1-1" type="radio" name="rating1" value="1")
        label._ico(for="star-rating1-1" title="1")