footer.footer
    ._wrapper
        ._r1
            .container
                .footer-menu
                    ul._list
                        li._item
                            a._link(href="#") Новости и статьи
                        li._item
                            a._link(href="#") Доставка и оплата
                        li._item
                            a._link(href="#") Возврат и обмен
                        li._item
                            a._link(href="#") Контакты
                .footer-search
                    a._btn(href="#").
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.29 76.56">
                            <path class="icon-search-footer" d="M47.67,10.53a26.26,26.26,0,1,0,0,37.14,26.26,26.26,0,0,0,0-37.14Zm9.14,46.84L73.46,73.72"/>
                        </svg>
        ._r2
            .container
                .footer-line
                    ._r1
                        ._name
                            ._logo
                            ._name-l
                                ._ttl Интернет-магазин<br>игрушек для взрослых
                                ._copyright Розовый zorro © 2013—2018
                    ._r2
                        ._contacts
                            a._contact-link(href="tel:84955551221") 8 (495) 555 12 21
                            a._contact-link(href="mailto:market@pinkzorro.ru") market@pinkzorro.ru
                        ._feedback
                            a._feedback-link(href="#") Обратная связь
                    ._r3
                        ._ss
                            .footer-ss
                                a._item(href="#" target="_blank" style="background-image:url('images/icons/socials_vk.svg')")
                                a._item(href="#" target="_blank" style="background-image:url('images/icons/socials_facebook.svg')")
                                a._item(href="#" target="_blank" style="background-image:url('images/icons/socials_twitter.svg')")
                                a._item(href="#" target="_blank" style="background-image:url('images/icons/socials_insta.svg')")
                        ._ps
                            .footer-ps
                                ._item(style="background-image:url('images/pay-mir.svg')")
                                ._item(style="background-image:url('images/pay-mc.svg')")
                                ._item(style="background-image:url('images/pay-maestro.svg')")
                    ._r4
                        ._developers
                            a.footer-developers(href="https://f5-studio.ru/" target="_blank").
                                Создание сайта<br><span>Digital-Агентство F5</span>