footer.footer
    ._wrapper
        ._r1
            .container
                .footer-menu
                    ul._list
                        li._item
                            a._link(href="#") Новости и статьи
                        li._item
                            a._link(href="#") Доставка и оплата
                        li._item
                            a._link(href="#") Возврат и обмен
                        li._item
                            a._link(href="#") Контакты
                .footer-search
        ._r2
            .container
                ._r3
                    div
                        div
                            div
                            div
                                div Интернет-магазин<br>игрушек для взрослых
                                div Розовый зорро 2013-2018
                    div
                        div
                            a(href="tel:84955551221") 8 (495) 555 12 21
                            a(href="mailto:market@pinkzorro.ru") market@pinkzorro.ru
                        div
                            a(href="#") Обратная связь
                    div
                        ._ss cc
                        ._ps pay sys
                    div
                        ._developers F5