header.header
    .header__r1
        .container
            div
                div Остались вопросы?
                div +7 (960) 006-57-76
                div i
            div
                div
                    div Вы вошли как
                    div Фдучфтвук Зуекулуум
                div img
    .header__r2
        .container2
            div
                div Для нее Для него Для пар
                div Лого
                div
    .header__r3
        .container
            include ../blocks/_header-menu
