doctype html
html
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, maximum-scale=1")
        link(rel="icon" type="image/png" href="images/favicon.png")
        //- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
        link(rel='stylesheet', href='template_styles18.css')
    body
        .wrapper
            block content
        //end wrapper