include ../mixins/_mixins

doctype html
html
    block sharedVars
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" type="image/png" href="images/favicon.png")
        //- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
        include _head_style
        include _scripts
    body
        .wrapper
            .content
                include _header
                //end header

                block content

                include ../popups/_cookies
                include ../popups/_notification
                include ../popups/_feedback
                include ../popups/_request
                include ../popups/_oneclick
                include ../popups/_login
                include ../popups/_registration
                include ../popups/_select-size
                include ../popups/_sucsess

            //end content

            include _footer
            //end footer
        //end wrapper