.catalog-slider-wrapper{
  display: none;
  @media screen and (min-width: $w-desktop) {
    display: block;
    margin-bottom: 55px;
  }
}
.catalog-page{
  padding-top: 55px;
  @media screen and (min-width: $w-desktop) {
    padding-top: 0;
  }
}
.catalog-container{

}
.catalog-filter{
  margin-bottom: 70px;
  @media screen and (min-width: $w-desktop) {
    margin-bottom: 30px;
  }
  &__container{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: flex !important;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  &__clean{
    position: relative;
    text-align: center;
    &:before{
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      right: 0;
      left: 0;
      top: 13px;
      background-color: $gray-ec;
    }
  }
  &__clean-label{
    color: $pink4;
    font-size: 16px;
    line-height: 16px;
    background-color: $white;
    display: inline-block;
    position: relative;
    padding: 0 18px;
    text-decoration: underline;
    @media screen and (min-width: $w-mobile) {
      font-size: 20px;
      line-height: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 16px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__button{
    width: 100%;
    max-width: 420px;
    background-color: $pink;
    color: $white;
    font-size: 16px;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0 auto 45px;
    text-align: center;
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      &:after{
        content: '';
        background-image: url('images/icons/filtr-more.svg');
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        margin-left: 5px;
      }
    }
    &.open{
      span:after{
        transform: rotate(180deg);
      }
    }
  }
  &__filter{
    @media screen and (min-width: $w-desktop) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__item{
    margin-bottom: 30px;
    position: relative;
    @media screen and (min-width: $w-desktop) {
      margin-right: 40px;
      flex: 0 0 auto;
      margin-bottom: 0;
      min-height: 36px;
    }
  }
  &__item-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__item-l{
    display: flex;
    align-items: center;
    @media screen and (min-width: $w-desktop) {
      height: 20px;
    }
  }
  &__item-r{
    display: flex;
    align-items: center;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__item-i{
    @include bg-img(contain);
    margin-right: 15px;
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    @media screen and (min-width: $w-desktop) {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      line-height: 20px;
    }
  }
  &__item-type{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    color: $pink;
    line-height: 30px;
    @media screen and (min-width: $w-desktop) {
      font-size: 13px;
      line-height: 20px;
    }
  }
  &__item-selected{
    color: $pink2;
    font-size: 16px;
    font-weight: $light;
    margin-right: 48px;
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      padding-left: 30px;
      margin-right: 0;
    }
  }
  &__item-del{
    background-image: url('images/icons/filtr_delete.svg');
    width: 25px;
    height: 25px;
    @include bg-img(contain);
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
    @media screen and (min-width: $w-desktop) {
      width: 15px;
      height: 15px;
      position: unset;
      margin-left: 5px;
      line-height: 20px;
    }
  }
  &__item-select{
    background-image: url('images/icons/filtr-more.svg');
    width: 25px;
    height: 25px;
    @include bg-img(contain);
    display: block;
    margin-left: 10px;
    @media screen and (min-width: $w-desktop) {
      margin-left: 0;
    }
  }
  &__sort{
    margin-bottom: 40px;
    position: relative;
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 0;
    }
  }
  &__sort-body{
    color: $pink;
    background-image: url('images/icons/filtr-more.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    width: 210px;
    margin: 0 auto;
    cursor: pointer;
    @media screen and (min-width: $w-desktop) {
      margin: 0;
      width: auto;
    }
  }
  &__item-dd{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(242,89,169,0.8);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    @media screen and (min-width: $w-desktop) {
      left: -20px;
      width: 230px;
    }
  }
  &__sort-dd{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(242,89,169,0.8);
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    @media screen and (min-width: $w-desktop) {
      width: 230px;
    }
  }
  &__sort-item{
    color: $white;
    margin-bottom: 20px;
    display: block;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

}
.catalog{
  padding-bottom: 85px;
  @media screen and (min-width: $w-desktop) {
    padding-bottom: 135px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 0;
      justify-content: flex-start;
    }
  }
  &__item{
    margin-bottom: 20px;
    width: 100%;
    @media screen and (min-width: 655px) {
      width: auto;
    }
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 40px;
      width: 50%;
    }
    @media screen and (min-width: 1024px) {
      width: 33.33%;
    }
    @media screen and (min-width: $w-desktop) {
      width: 25%;
    }
  }
  &__footer{
    @media screen and (min-width: $w-desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__show{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
}
.filtr-checklist{
  &__item{
    margin-bottom: 18px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
    &+label{
      position: relative;
      padding: 0 0 0 36px;
      cursor: pointer;
      color: $white;
      font-size: 20px;
      @media screen and (min-width: $w-desktop) {
        font-size: 16px;
        padding: 0 0 0 28px;
      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        transition: .2s;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 3px;
        text-align: center;
        line-height: 16px;
      }
    }
    &:checked + label:before {
      content: '✔';
      color: $pink;
      background-color: $white;
      border-color: $white;
    }
  }
  &__checkbox-label{
    line-height: 18px;
    display: flex;
    align-items: center;

    span.sm{
      font-size: 12px;
    }
    span.color{
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border: 1px solid rgba(255,255,255,0.6);
      border-radius: 3px;
    }
  }
}
.filtr-price{
  display: flex;
  justify-content: space-between;
  &__label{
    font-size: 12px;
    font-weight: $light;
    color: $white;
    line-height: 1;
    display:block;
    margin-bottom: 5px;
  }
  &__input{
    width: 85px;
    height: 40px;
    line-height: 40px;
    background-color: $white;
    border-radius: 3px;
    border: none;
    text-align: center;
    color: $gray72;
  }
  &__sep{
    color: $white;
    padding: 25px 3px 0;
  }
}
.filtr-size{
  &__item{
    margin-bottom: 30px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__row{
    display: flex;
    align-items: center;
  }
  &__min,
  &__max{
    width: 20px;
    flex: 0 0 auto;
    color: $white;
    font-size: 12px;
    font-weight: $light;
  }
  &__max{
    text-align: right;
  }
  &__rng{
    flex: 1 1 auto;
  }
  &__label{
    font-size: 16px;
    color: $white;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
  }
  &__range{
    height: 6px;
    border: 0 !important;
    background: $pink2;
    @media screen and (min-width: $w-desktop) {
      height: 3px;
    }
    .ui-slider-range{
      background: $pink;
    }
    .ui-slider-handle{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $white;
      opacity: 1;
      border: 0;
      @media screen and (min-width: $w-desktop) {
        width: 15px;
        height: 15px;
      }
      &:focus{
        outline: none;
      }
    }
  }
}
