extends core/_template

append sharedVars
	- var activeMenu = 'Главная';

block title
	title=activeMenu

block content
	.workarea
		.page
			.big-slider-wrapper
				.big-slider
					._item
						- for (i=1;i<20;i++)
							p Таким образом сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Товарищи! реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития.