extends core/_template

append sharedVars
	- var activeMenu = 'Главная';

block title
	title=activeMenu

block content
	.workarea
		.page
			.big-slider-wrapper
				.big-slider
					._swiper.swiper-wrapper
						- for(var i=0;i<3;i++)
							._slide.swiper-slide
								a._item(href="#" style="background-image:url('images/TEMP/slide1.jpg')")
									._container.container
										._date до 31 мая
										._ttl Обжигающие скидки на охлаждающие лубриканты!
										._txt.
											Скидки на лубриканты фирмы Satisfyre до 35% В акции участвуют лубриканты: Satisfyer Men Neutral, Satisfyer Men Warming, Satisfyer Men Cooling
										._link Подробнее
					._pagination
						._prev
						._bull
						._next
			//end .big-slider-wrapper
			.advantages-wrapper
				.container
					.advantages
						._item
							._img(style="background-image:url('images/plus1.svg')")
							._ttl БЕСПЛАТНАЯ<br>ДОСТАВКА
							._prev При заказе от 3000 рублей
						._item
							._img(style="background-image:url('images/plus2.svg')")
							._ttl 100% БЕЗОПАСНОСТЬ<br>ТОВАРОВ
							._prev Сертификаты и гарантии
						._item
							._img(style="background-image:url('images/plus3.svg')")
							._ttl АНОНИМНОСТЬ<br>И КОНФИДЕНЦИАЛНОСТЬ
							._prev При заказе и получении
						._item
							._img(style="background-image:url('images/plus4.svg')")
							._ttl 100% ГАРАНТИЯ<br>ВОЗВРАТА ТОВАРА
							._prev Бесплатно заменим на новый
						._item
							._img(style="background-image:url('images/plus5.svg')")
							._ttl Оперативная помощь<br>консультантов
							._prev В выборе или вопросах
			//end .advantages-wrapper
			.sale-prev
				.container3
					.prev-line
						._h.h Товары со скидкой
						._list.prev-slider
							._swiper.swiper-wrapper
								- for(var i=0;i<8;i++)
									._item.swiper-slide
										include blocks/_card-sale
						._all
							a._all-link(href="#") Смотреть все товары
						._nav
							._prev
							._next

			//end .sale-prev
			.tags-line-wrapper
				.container
					.tags-line
						a._item(href="#") Секс-игрушки
						a._item.active(href="#") БДСМ и фетиш
						a._item(href="#") Интимная косметика
						a._item(href="#") Белье
						a._item(href="#") SALE
						a._item(href="#") Тренинги
			//end .tags-line-wrapper
			.hits-prev
				.container3
					.prev-line
						._h.h Хиты продаж
						._list.prev-slider
							._swiper.swiper-wrapper
								- for(var i=0;i<8;i++)
									._item.swiper-slide
										include blocks/_card-hit
						._all
							a._all-link(href="#") Смотреть все товары
						._nav
							._prev
							._next
			//end .hits-prev
			.what-is-zorro
				._h.h Что такое зорро
				._container.container
					._img(style="background-image:url('images/pinkzorro_logo_mask.svg')")
					._text
						p Это интернет-магазин, где вы сможете найти секс игрушки, способные сделать вашу сексуальную жизнь более яркой и разнообразной! Проводите эксперименты и не бойтесь своих самых смелых желаний. Вы найдете великолепные игрушки от самых известных мировых производителей, как для мужчин, так и для женщин.

						p Великолепная подборка высококачественных вибраторов, массажеров, страпонов, помп, кукол, наручников, насадок и плеток. Невероятный ассортимент для ценителей секса.
			//end .what-is-zorro
			.new-prev
				.container3
					.prev-line
						._h.h Новинки
						._list.prev-slider
							._swiper.swiper-wrapper
								- for(var i=0;i<8;i++)
									._item.swiper-slide
										include blocks/_card-new
						._all
							a._all-link(href="#") Смотреть все товары
						._nav
							._prev
							._next
			//end .new-prev
			.line
			.news-prev-wrapper
				.container
					.news-prev
						._h.h Новости и статьи
						._slider.news-prev-slider
							._list.swiper-wrapper
								- for(var i=0;i<3;i++)
									a._item.swiper-slide(href="#" style="background-image:url('https://picsum.photos/300')")
										._cnt
											._ttl Розовый ZORRO приглашает на ежегожную выставку для взрослых X'Show 2013!
											._prev Мы объявляем конкурс Эротической истории. Она может быть любой, но главное — сногсшибательной!
										._bottom
											._date 4 марта 2017
											._more Читать полностью
						._all
							a._all-link(href="#") Смотреть все новости
			//end .news-prev-wrapper
			.brands-list-wrapper
				.container
					.brands-list
						._h.h Популярные бренды
						._list
							a._item(href="#" style="background-image:url('images/TEMP/brend1.png')")
							a._item(href="#" style="background-image:url('images/TEMP/brend2.png')")
							a._item(href="#" style="background-image:url('images/TEMP/brend3.png')")
							a._item(href="#" style="background-image:url('images/TEMP/brend4.png')")
							a._item(href="#" style="background-image:url('images/TEMP/brend5.png')")
							a._item(href="#" style="background-image:url('images/TEMP/brend6.png')")
			//end .brands-list-wrapper