extends core/_template

append sharedVars
    - var activeMenu = 'Новости';

block title
    title=activeMenu

block content
    .workarea
        .page
            .news-slider-wrapper
                include blocks/_big-slider
            //end .news-slider-wrapper
            .container
                .columns
                    .column-l
                        .news-filtr
                            ._button.js-open-filtr-btn
                                span Фильтры
                            ._container
                                ._filter
                                    ._bl
                                        ._ttl Новости
                                        a._item(href="#") Показать все новости
                                    ._bl
                                        ._ttl Статьи
                                        ._item
                                            input._checkbox(type="checkbox" id="n1" checked)
                                            label._checkbox-label(for="n1") Образовательные<span>статьи</span>
                                        ._item
                                            input._checkbox(type="checkbox" id="n2")
                                            label._checkbox-label(for="n2") Информационные<span>статьи</span>

                    //end .column-l
                    .column-r
                        .news-detail
                            ._h Игрушки в дорогу. Как сделать так, чтобы никто не догадался
                            ._content
                                p 8 простых советов путешественникам, позволяющие сохранить свою личную жизнь под замком.  Великолепная подборка высококачественных вибраторов, массажеров, страпонов, помп, кукол, наручников, насадок и плеток. Невероятный ассортимент для ценителей секса.
                                ._img
                                    img(src="https://picsum.photos/1000/500")
                                    ._tag Информационная статья
                                p Драма однородно диссонирует прозаический симулякр, именно об этом говорил Б.В.Томашевский в своей работе 1925 года. Амфибрахий абсурдно отталкивает глубокий коммунальный модернизм, таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Первое полустишие, если уловить хореический ритм или аллитерацию на "р", аллитерирует дискурс. Ударение текстологически отражает акцент. Дискурс текстологически представляет собой скрытый смысл.
                                p Мелькание мыслей отталкивает конструктивный коммунальный модернизм. Стилистическая игра просветляет деструктивный зачин, тем не менее узус никак не предполагал здесь родительного падежа. Правило альтернанса недоступно аллитерирует урбанистический не-текст.
                                p Слово активно. Цезура фонетически диссонирует абстракционизм. Генезис свободного стиха, как справедливо считает И.Гальперин, традиционен.
                                .detail-slider
                                    ._swiper.swiper-wrapper
                                        - for(i=0;i<3;i++)
                                            ._item.swiper-slide(style="background-image:url('https://picsum.photos/1000')")
                                    ._nav
                                        ._prev
                                        ._next
                                p Драма однородно диссонирует прозаический симулякр, именно об этом говорил Б.В.Томашевский в своей работе 1925 года. Амфибрахий абсурдно отталкивает глубокий коммунальный модернизм, таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Первое полустишие, если уловить хореический ритм или аллитерацию на "р", аллитерирует дискурс. Ударение текстологически отражает акцент. Дискурс текстологически представляет собой скрытый смысл.
                            ._footer
                                ._footer-c1
                                    ._date 12 июля 2017
                                    ._stars
                                        include blocks/_star-rating
                                ._footer-c2
                                    ._btn
                                        button._btn-request(type='button' data-izimodal-open="#request") Участвовать
                                ._footer-c3
                                    ._share
                                        ._share-ttl Поделиться
                                        ._share-list
                                            include blocks/_share
                        //end .news-detail
                    //end .column-r
                //end .columns

        //end .page